/* DoChat.css */
.do-chat-page-abc123 {
  display: flex;
}

.video-container-xyz789 {
  position: relative;
  width: 60%;
}

.big-video-123abc {
  position: relative;
  width: 100%;
  padding-top: 75%;
  background-color: #ccc;
  margin-bottom: 10px;
}

.small-video-456def {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 25%;
  padding-top: 18.75%;
  background-color: #ddd;
}

.info-container-ghi321 {
  width: 37%;
}

.patient-details-jkl654 {
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
}

.document-table-mno987 {
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.document-table-mno987 table {
  width: 100%;
  border-collapse: collapse;
}

.document-table-mno987 th,
.document-table-mno987 td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  max-width: 200px; /* Adjust as needed */
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis for overflow */
}

.document-table-mno987 th {
  background-color: #f2f2f2;
}

.upload-prescription-pqr159 {
  width: 10%;
  text-align: center;
}

.upload-btn-stu753 {
  width: 200px;
  padding: 12px 0;
  background-color: #53a8b6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.6s;
}

.upload-btn-stu753:hover {
  background-color: #79c2d0;
}

.consent-btn-vwx357 {
  width: 100px;
  padding: 12px 0;
  background-color: #53a8b6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.6s;
}

.consent-btn-vwx357:hover {
  background-color: #79c2d0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}