/* MyDocuments.css */

/* Container styles */
.patient-my-documents-container {
  margin: 20px;
  text-align: center;
}

/* Table styles */
.patient-documents-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.patient-documents-table th,
.patient-documents-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.patient-documents-table th {
  background-color: #f2f2f2;
}

/* Upload section styles */
.patient-upload-section {
  margin-top: 20px;
}

.patient-upload-section h3 {
  margin-bottom: 10px;
}

/* Adjusted styles for upload section */
.upload-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-section input[type="file"] {
  margin-bottom: 10px;
  width: 250px; /* Adjust as needed */
  
}

/* Adjusted styles for upload button */
.doc-wala-but {
  width: 250px; /* Adjust as needed */
  padding: 8px 16px;
  font-size: 12px;
  padding: 12px 0;
  background-color: #53a8b6;
  background-color: #53a8b6; /* Blue button */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.6s;
}
.doc-wala-but:hover {
  background-color: #79c2d0; /* Darker blue on hover */
}
