.top-navbar {
  background: linear-gradient(to bottom,  #79c2d0e3, #79c2d062); /* Gradient background */
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:18px;
}

.center-links {
  flex-grow: 1; /* Grow to fill the remaining space */
  text-align: center; /* Center the content */
}

.right-links {
  display: flex;
  align-items: center;
}

.right-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px; /* Add margin-right for space between links */
}

.right-links a:hover {
  color: #0056b3;
}

.signout-link a:hover{
  color: #0056b3;
}
