.top-navbar {
  background: linear-gradient(to bottom,  #79c2d0e3, #79c2d062); /* Gradient background */
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.center-links {
  flex-grow: 1; /* Grow to fill the remaining space */
  text-align: center; /* Center the content */
}

.right-links {
  display: flex;
  align-items: center;
}

.right-links .edit-details-button,
.right-links .signout-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 10px; /* Add margin-right for space between buttons */
  text-decoration: none; /* Remove underline */
  transition: all 0.3s ease; /* Add transition effect */
  padding: 8px 12px; /* Add padding */
  border-radius: 5px; /* Add border radius */
}

.right-links .edit-details-button:hover,
.right-links .signout-button:hover {
  color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow */
  transform: scale(1.05); /* Increase size on hover */
}

.right-links .signout-button {
  color: #fff;
  background-color: #ff0000; /* Red background color */
}

.right-links .signout-button:hover {
  background-color: #cc0000; /* Darker red on hover */
}
