.video-chat-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .video-container {
    position: relative;
    width: 60%; /* Adjust initial width as needed */
  }
  
  .big-video {
    position: relative;
    width: 100%; /* Occupy full width */
    padding-top: 75%; /* Aspect ratio 4:3 */
    background-color: #ccc; /* Placeholder color */
    margin-bottom: 10px;
  }
  
  .small-video {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25%; /* Adjust size as needed */
    padding-top: 18.75%; /* Aspect ratio 4:3 */
    background-color: #ddd; /* Placeholder color */
  }
  
  .info-container {
    width: 35%; /* Adjust initial width as needed */
  }
  
  .doctor-details {
    width: 100%; /* Adjust size as needed */
    background-color: #f0f0f0; /* Placeholder color */
    padding: 10px;
    margin-bottom: 20px; /* Add some space between elements */
  }
  
  .document-table {
    width: 100%; /* Occupy full width initially */
  }
  
  @media screen and (max-width: 1100px) {
    .video-chat-page {
      flex-direction: column; /* Stack elements vertically */
    }
  
    .video-container,
    .info-container {
      width: 100%; /* Occupy full width when below 1100px */
    }
  
    .small-video {
      position: static; /* Reset position to stack below big video */
      width: 100%; /* Occupy full width */
      padding-top: 56.25%; /* Aspect ratio 16:9 */
      margin-bottom: 10px; /* Add some space between videos */
    }
  
    .doctor-details,
    .document-table {
      width: 100%; /* Occupy full width when stacked */
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .rambo-but {
    width: 100px; /* Adjust as needed */
    padding: 8px 16px;
    font-size: 12px;
    padding: 12px 0;
    background-color: #53a8b6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.6s;
  }
  
  .rambo-but:hover {
    background-color: #79c2d0; /* Darker blue on hover */
  }
  
  