.LOGIN{
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 100vh;
  background-image: url('./../images/landing-page.png'); /* Add background image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #ffffb3;
}

.login-wrapper {
  display: flex;
  align-items: flex-start; /* Change align-content to align-items */
  margin-top: 210px;
}

.login-container {
  width: 200px;
  padding: 30px;
  margin: 20px;
  background-color: #ffffb3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
}

.login-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  background-color: #007bff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.login-button:hover {
  background-color: green;
}
