/* Container styles */
.container {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
  padding-bottom: 50px; /* Adjust as needed */

}

/* Content styles */
.about-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.about-container h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-video-container p {
  color: #555;
  line-height: 1.6;
}

/* Video styles */
.about-video-container {
  margin: 20px auto; /* Center the container horizontally */
  width: 400px; /* Fixed width */
  height: 300px; /* Fixed height for 16:9 aspect ratio (400 * 9 / 16) */
  position: relative;
  overflow: hidden;
}

body{
  
}