.footer-container {
  background-color: rgba(0, 123, 255); /* Blue background color with transparency */
  color: #fff;
  padding: 5px; /* Reduced padding */
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px; /* Adjust the font size as needed */
  height: 30px; /* Adjust the height as needed */
}

.footer-left p {
  margin: 0;
}

.footer-right a,
.footer-right p {
  margin: 0 5px; /* Reduced margin */
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.footer-right a:hover {
  text-decoration: underline;
  color: #000; /* Change color to black on hover */
}

.footer-right p:hover {
  color: #000; /* Change color to black on hover */
}
