/* ForgotPassword.css */
.forgotpassword-body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(61, 63, 70, 0.7);
}
.forgot-password-outer-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../Animation/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }
  
  .forgot-password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 90%; /* Adjust max-width */
    width: 300px; /* Set initial width */
    height: auto; /* Set height to auto */
    max-height: 80vh; /* Set max-height */
    background-color: rgba(61, 63, 70, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto; /* Add scrolling */
}

  
  .forgot-password-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .forgot-password-input,
  .forgot-password-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .forgot-password-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
.heading{
  color: white;
}

  .forgot-password-button {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #53a8b6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.6s;
  }
  
  .forgot-password-button:hover {
    background-color: #79c2d0;
  }
  
  .forgot-password-link {
    color: rgb(217, 242, 243);
    cursor: pointer;
    display: inline-block;
    padding: 12px 0;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .forgot-password-link:hover {
    color: rgb(173, 236, 238);
  }
  
  @media (max-width: 600px) {
    .forgot-password-container {
      width: 80%;
    }
  }
  