/* PatientLogin.css */

.ani-patient-login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../Animation/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ani-login-video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
}

.ani-login-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 300px; /* Adjust maximum width to match DoctorLogin */
  width: 90%; /* Adjust width as needed */
  background-color: rgba(61, 63, 70, 0.7);
  padding: 20px; /* Reduced padding */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ani-patient-logo {
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 20px;
}

.ani-login-input,
.ani-login-button,
.ani-signup-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent; /* Transparent border */
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.ani-login-input:focus {
  outline: none;
  border-color: #007bff;
}

/* Modify button styles as requested */
.ani-login-button,
.ani-signup-btn {
  display: block;
  width: 100%;
  padding: 12px 0;
  background-color: #53a8b6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.6s;
}

.ani-login-button:hover,
.ani-signup-btn:hover {
  background-color: #79c2d0;
}

@media (max-width: 600px) {
  .ani-login-content-container {
    width: 80%;
  }
}

.linkin-login{
  color:rgb(217, 242, 243);
}
.linkin-login:hover{
  color:rgb(173, 236, 238);
}