body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(61, 63, 70, 0.7); /* Background color similar to PatientLogin */
}

.signup-outer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../Animation/back.jpg'); /* Background image similar to PatientLogin */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 300px; /* Adjust maximum width to match PatientLogin */
    width: 90%; /* Adjust width as needed */
    background-color: rgba(61, 63, 70, 0.7); /* Background color similar to PatientLogin */
    padding: 20px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
.sign-kardunga {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent; /* Transparent border */
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    outline: none;
    border-color: #007bff;
}

.sign-kardunga {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #53a8b6; /* Button background color similar to PatientLogin */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.6s;
}

.sign-kardunga:hover {
    background-color: #79c2d0;
}

.terms-link {
    color: rgb(217, 242, 243); /* Link color similar to PatientLogin */
    cursor: pointer;
    display: inline-block;
    padding: 12px 0;
    text-decoration: none;
    transition: color 0.3s;
}

.terms-link:hover {
    color: rgb(173, 236, 238); /* Link hover color similar to PatientLogin */
}

@media (max-width: 600px) {
    .signup-container {
        width: 80%; /* Adjust width for smaller screens */
    }
}
